
<div class="max-w-3xl w-full mx-auto z-10 {% if user.user_profile.gui and id == 'white'%}mt-[60px] {%endif%}">
    <div class="flex flex-col">
        <div class="bg-white border border-white shadow-lg rounded-3xl p-2 m-2">
            <div class="flex items-center">
                <!-- Icono redondeado con imagen de fondo -->
                
                <div class="flex flex-col flex-grow">
                    <div class="flex items-center justify-between mb-1">
                        <div class="flex items-center">
                            <div class="flex flex-col">
                                <!-- Nombre del jugador -->
                                <div id='player_black_name'class="text-sm text-gray-800 font-bold leading-none"></div>
                            </div>
                        </div>
                        <!-- Temporizador de ajedrez -->
                        <div class="flex items-center">
                            <div class="bg-gray-100 p-1 rounded-full border border-gray-300">
                                <div class="flex items-center">
                                    <span id='timer_black' class="text-gray-800 text-lg font-semibold m-2">{{timer}}:00</span>
                                        <svg id='offline-icon-black' class="hidden  h-6 w-6 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="1" y1="1" x2="23" y2="23" />  <path d="M16.72 11.06A10.94 10.94 0 0 1 19 12.55" />  <path d="M5 12.55a10.94 10.94 0 0 1 5.17-2.39" />  <path d="M10.71 5.05A16 16 0 0 1 22.58 9" />  <path d="M1.42 9a15.91 15.91 0 0 1 4.7-2.88" />  <path d="M8.53 16.11a6 6 0 0 1 6.95 0" />  <line x1="12" y1="20" x2="12.01" y2="20" /></svg>                       

                                        <svg id='online-icon-black' class="hidden h-8 w-8 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <g transform="rotate(-45 12 18)">  <line x1="12" y1="18" x2="12.01" y2="18" />  <path d="M12 14a4 4 0 0 1 4 4" />  <path d="M12 10a8 8 0 0 1 8 8" />  <path d="M12 6a12 12 0 0 1 12 12" />  </g></svg>                          
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Elo -->
                    <div class="text-gray-500 text-sm">
                        <div class="flex items-center">
                            <span class="mr-2 font-medium">
                                <svg class="h-4 w-4 text-indigo-500" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M14.5 10c-.83 0-1.5-.67-1.5-1.5v-5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5z" />
                                    <path d="M20.5 10H19V8.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z" />
                                    <path d="M9.5 14c.83 0 1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5S8 21.33 8 20.5v-5c0-.83.67-1.5 1.5-1.5z" />
                                    <path d="M3.5 14H5v1.5c0 .83-.67 1.5-1.5 1.5S2 16.33 2 15.5 2.67 14 3.5 14z" />
                                    <path d="M14 14.5c0-.83.67-1.5 1.5-1.5h5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-5c-.83 0-1.5-.67-1.5-1.5z" />
                                    <path d="M15.5 19H14v1.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z" />
                                    <path d="M10 9.5C10 8.67 9.33 8 8.5 8h-5C2.67 8 2 8.67 2 9.5S2.67 11 3.5 11h5c.83 0 1.5-.67 1.5-1.5z" />
                                    <path d="M8.5 5H10V3.5C10 2.67 9.33 2 8.5 2S7 2.67 7 3.5 7.67 5 8.5 5z" />
                                </svg>
                            </span>
                            <span class="border-r border-gray-200 pr-2">1500</span>
                            ♟ ♞ ♝ ♟ ♟ ♟
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
