{% load static%}

<div class="wrapper" id="wrapper">
  <a href="#" class="ov-btn-grow-box" onclick="changeDivToGif()">Buscar Partida</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>







<style>
/*** ESTILOS BOTÓN GROW BOX ***/
.ov-btn-grow-box {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  border: 2px solid #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-box:hover {
  color: #fff;/* color de fuente hover */
}
.ov-btn-grow-box::after {
  content: "";
  background: #4741d7; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.ov-btn-grow-box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}


</style>


<script>



  function checkMatchStatus() {
    // Realizar una solicitud GET a la URL /create/match
    fetch('/create/match')
        .then(response => response.json())
        .then(data => {
            // Verificar si el estado es 'completed'
            if (data.game_status === 'completed' || data.game_status === 'playing' ) {
                console.log('El estado del partido es: ' + data.game_status);
                clearInterval(interval); // Detener la verificación
                window.location.href = '/chess/' +data.id;
            } 
            
            else {
                console.log('El estado del partido es', data.game_status);
                console.log('ID:', data.id)
            }
        })
        .catch(error => {
            console.error('Se produjo un error al realizar la solicitud:', error);
            clearInterval(interval);
        });
    var interval = setInterval(checkMatchStatus, 5000);
}

// Realizar la primera verificación inmediatamente al cargar la página
function changeDivToGif() {
      var div = document.getElementById("wrapper");
      div.innerHTML = "<img src='{% static 'MultiplayerOnline/assets/gif/loading.webp' %}' width=100px alt='Cargando...'> <br>Buscando partida";
      checkMatchStatus()
    }

// Realizar una verificación cada 5 segundos


</script>