
    {% if wallet_amount  >= 1 %}
    <option value="1.00">1,00</option>
    {% endif %}
    {% if wallet_amount  >= 10 %}
    <option value="10.00">10,00</option>
    {% endif %}
    {% if wallet_amount  >= 50 %}
    <option value="50.00">50,00</option>
    {% endif %}
    {% if wallet_amount  >= 100 %}
    <option value="100.00">100,00</option>
    {% endif %}
    {% if wallet_amount  >= 150 %}
    <option value="150.00">150,00</option>
    {% endif %}
    {% if wallet_amount  >= 200 %}
    <option value="200.00">200,00</option>
    {% endif %}
