{% load static%}
<div class="dad-container">
    <div class="main-container">
      
          <div class="file-a files" title="file-a">
            
            <div class="square" name='a8'>
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/rook.png' %}" alt="" draggable="false"  id="rook-a-black"/>
            </div>
            <div class="square" name='a7'>
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false"  id="pawn-a-black"   />
            </div>
            <div class="square" name="a6"></div>
            <div class="square" name="a5" ></div>
            <div class="square" name="a4"></div>
            <div class="square" name="a3"></div>
            <div class="square" name="a2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"  id="pawn-a-white" />
            </div>
            <div class="square" name="a1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/rook.png' %}" alt="" draggable="false"  id="rook-a-white" />
            </div>
            </div>
            <div class="file-b files">
            <div class="square" name="b8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/knight.png' %}" alt="" draggable="false"  id="knight-b-black"/>
            </div>
            <div class="square" name="b7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false" id="pawn-b-black"  />
            </div>
            <div class="square" name="b6"></div>
            <div class="square" name="b5"></div>
            <div class="square" name="b4"></div>
            <div class="square" name="b3"></div> 
            <div class="square"name="b2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"    id="pawn-b-white"/>
            </div>
            <div class="square" name="b1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/knight.png' %}" alt="" draggable="false"  id="knight-b-white" />
            </div>
            </div>
            <div class="file-c files">
            <div class="square" name="c8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/bishop.png' %}" alt="" draggable="false"  id="bishop-c-black" />
            </div>
            <div class="square" name="c7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false" id="pawn-c-black" />
            </div>
            <div class="square" name="c6"></div>
            <div class="square" name="c5" ></div>
            <div class="square" name="c4"></div>
            <div class="square" name="c3"></div>
            <div class="square" name="c2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"  id="pawn-c-white" />
            </div>
            <div class="square" name="c1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/bishop.png' %}" alt="" draggable="false" id="bishop-c-white" />
            </div>
            </div>
            <div class="file-d files">
            <div class="square" name="d8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/queen.png' %}" alt="" draggable="false"  id="queen-d-black" />
            </div>
            <div class="square" name="d7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false"   id="pawn-d-black" />
            </div>
            <div class="square" name="d6"></div>
            <div class="square" name="d5"></div>
            <div class="square" name="d4"></div>
            <div class="square" name="d3"></div>
            <div class="square" name="d2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"  id="pawn-d-white" />
            </div>
            <div class="square" name="d1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/queen.png' %}" alt="" draggable="false" id="queen-d-white"  />
            </div>
            </div>
            <div class="file-e files">
            <div class="square" name="e8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/king.png' %}" alt="" draggable="false"  id="king-e-black" />
            </div>
            <div class="square"  name="e7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false"  id="pawn-e-black" />
            </div>
            <div class="square" name="e6"></div>
            <div class="square" name="e5"></div>
            <div class="square" name="e4"></div>
            <div class="square" name="e3"></div>
            <div class="square" name="e2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"  id="pawn-e-white" />
            </div>
            <div class="square" name="e1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/king.png' %}" alt="" draggable="false" id="king-e-white" />
            </div>
            </div>
            <div class="file-f files">
            <div class="square" name="f8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/bishop.png' %}" alt="" draggable="false"  id="bishop-f-black" />
            </div>
            <div class="square" name="f7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false" id="pawn-f-black" />
            </div>
            <div class="square" name="f6"></div>
            <div class="square" name="f5"></div>
            <div class="square" name="f4"></div>
            <div class="square" name="f3"></div>
            <div class="square" name="f2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"  id="pawn-f-white"/>
            </div>
            <div class="square" name="f1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/bishop.png' %}" alt="" draggable="false" id="bishop-f-white" />
            </div>
            </div>
            <div class="file-g files">
            <div class="square" name="g8">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/knight.png' %}" alt="" draggable="false" id="knight-g-black"  />
            </div>
            <div class="square" name="g7">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false"  id="pawn-g-black" />
            </div>
            <div class="square" name="g6"></div>
            <div class="square" name="g5"></div>
            <div class="square" name="g4"></div>
            <div class="square" name="g3"></div>
            <div class="square" name="g2">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}" alt="" draggable="false"   id="pawn-g-white"/>
            </div>
            <div class="square" name="g1">
                <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/knight.png' %}" alt="" draggable="false"  id="knight-g-white" />
            </div>
          </div>
          <div class="file-h files">
          <div class="square" name="h8">
              <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/rook.png' %}" alt="" draggable="false"  id="rook-h-black" />
          </div>
          <div class="square" name="h7">
              <img src="{% static 'MultiplayerOnline/assets/images/pieces/black/pawn.png' %}" alt="" draggable="false"  id="pawn-h-black" />
          </div>
          <div class="square" name="h6"></div>
          <div class="square" name="h5"></div>
          <div class="square" name="h4"></div>
          <div class="square" name="h3"></div>
          <div class="square" name="h2">
              <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/pawn.png' %}"   id="pawn-h-white" alt="" draggable="false"  />
          </div>
          <div class="square" name="h1">
              <img src="{% static 'MultiplayerOnline/assets/images/pieces/white/rook.png' %}" alt="" draggable="false" id="rook-h-white"  />
          </div>
        </div>
    </div>
    </div>
</div>